:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #344054;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #5429FF;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 375px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1440px;
  width: 100%;
  padding: 32px;
  text-align: center;
  margin: 0 auto;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  width: 32px;
  height: 32px;
}

.logo-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.01em;
}

.logo-container {
  position: absolute;
  left: 38px;
  top: 38px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  position: relative;
}

.image {
  background: #CBCCE8;
  border-radius: 40px;
}

.form-heading {
  text-align: left;
}

.form-wrapper {
  max-width: 360px;
  margin: auto auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.form-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #667085;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #344054;
  text-align: left;
}

.input {
  height: 44px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  color: #667085;
  font-size: 16px;
  line-height: 24px;
  padding: 0 12px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.forgot-link {
  margin-left: auto;
}

input[type='checkbox'] {
  accent-color: #fff;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #D0D5DD;
}

.sign-in-button {
  /* width: 360px; */
  height: 44px;
  padding: 12px, 154px, 12px, 154px;
  border-radius: 8px;
  gap: 10px;
  background: #5429FF;
}

.sign-in-google {
  background: #fff;
  border: 1px solid #D0D5DD;
  color: #344054;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px
}

@media (max-width: 760px) {
  .image {
    display: none;
  }

  .logo-container {
    position: static;
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }
}